# TRABALHO PRÁTICO 1

  O objetivo desse trabalho é avaliar a capacidade do aluno de gerar consultas em SQL a partir das questões propostas. Um Banco de Dados foi adaptado exclusivamente para esta tarefa, a partir dos dados de Pagamento, Passagem, Trecho e Viagem, disponibilizados em:
*   [Portal da Transparência - Viagens realizadas a serviço](https://portaldatransparencia.gov.br/download-de-dados/viagens)

**IMPORTANTE**:

1.   Altere apenas dentro das aspas duplas onde estiver escrito *Altere Aqui*.
2.   Não serão necessárias alterações em funções ou outras partes do código.
3.   Após finalizar todas as consultas, clique em *Kernel -> Restart and Run All* no ambiente Jupyter.
4.   Altere o nome do arquivo *TP1_matricula.ipynb* adicionando o seu número de matrícula substituindo onde está escrito matrícula.
5.   Um arquivo *.csv* com a sua matrícula será gerado automaticamente no diretório do ambiente.
6.   Compactar os arquivos *TP1_matricula.ipynb* e *matricula.csv* em *matricula.zip* e submeter na tarefa criada para o TP1 via Moodle.

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
import sys
#!{sys.executable} -m pip install sqlite3
!{sys.executable} -m pip install pandas
#!{sys.executable} -m pip install csv
!{sys.executable} -m pip install gdown

In [2]:
#NÃO ALTERE AS LINHAS ABAIXO
import sqlite3 as sql3
import pandas as pd
import csv
import gdown

## Banco de Dados
Caso queira, você poderá fazer o download do banco de dados para explorá-lo:
*   [Banco de Dados - Viagens](https://drive.google.com/file/d/1nRbN_o1yi3gNvznBmQlZuKvui5AA4-a4/view?usp=sharing)

**OBS**: Esse processo não é necessário para execução do trabalho, pois tudo o que você irá precisar, o próprio notebook já irá buscar, gerar e conectar ao banco fornecido, nas células 2 e 3.

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
!gdown "1nRbN_o1yi3gNvznBmQlZuKvui5AA4-a4"

In [4]:
#NÃO ALTERE AS LINHAS ABAIXO
con = sql3.connect(":memory:")
sql_file = open('bancoDadosViagens.sql', encoding="utf8")
cur = con.cursor()
db = sql_file.read()
cur.executescript(db)
con.commit()

## Estrutura das Tabelas do Banco de Dados Viagens

Nas células de 5 a 9 abaixo, estão listadas as informações referentes aos campos e tipos de dados relacionados a todas as tabelas do Banco de Dados Viagens:

### TABELA ORGAO

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
query = "PRAGMA table_info('orgao')"
df = pd.read_sql(query, con)
display(df)

### TABELA VIAGEM

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
query = "PRAGMA table_info('viagem')"
df = pd.read_sql(query, con)
display(df)

### TABELA PASSAGEM

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
query = "PRAGMA table_info('passagem')"
df = pd.read_sql(query, con)
display(df)

### TABELA TRECHO

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
query = "PRAGMA table_info('trecho')"
df = pd.read_sql(query, con)
display(df)

### TABELA PAGAMENTO

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
query = "PRAGMA table_info('pagamento')"
df = pd.read_sql(query, con)
display(df)

## Arquivo de Resultados
Na célula 10 abaixo, você irá colocar o numero da sua matrícula. Essa é a primeira alteração necessária para executar o TP. A partir das células 10 e 11, o arquivo de resultado será gerado.

In [10]:
matricula = "ALTERE AQUI - Digite a sua matrícula"

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
tp1_csv = matricula+".csv"
queries = open(tp1_csv, 'w')
writer = csv.writer(queries, delimiter=';')
writer.writerow(["Query Number", "Row Count", "Query"])

## Função de Consulta
A função abaixo executa a consulta, exibe o retorno da consulta no banco e grava os dados necessários no arquivo resultado.

In [13]:
#NÃO ALTERE AS LINHAS ABAIXO
def runQuery(query, query_name):
  df = pd.read_sql(query, con)
  query_size = df.shape[0]
  writer.writerow([query_name, query_size, query])
  display(df)

## PARTE 1 - Transformar Algebra Relacional para SQL
Abaixo, seguem as consultas que voce terá de transformar de Algebra Relacional para SQL. Altere **APENAS** o espaço entre as aspas. Dentro desse espaço é que você deverá digitar o comando de execução da consulta.

### 1 - $\pi_{id\_viagem,origem\_cidade,destino\_cidade} \: \sigma_{transporte='Rodoviario'}$ (trecho)

In [ ]:
a1 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE A LINHA ABAIXO
runQuery(a1, "a1")

### 2 - $\pi_{id\_pagamento,valor} \: \sigma_{valor>1000}$ (pagamento)

In [ ]:
a2 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE A LINHA ABAIXO
runQuery(a2, "a2")

### 3 - $\pi_{orgao.nome\_orgao,pagamento.valor} \: \sigma_{pagamento.id\_orgao\_superior=orgao.id\_orgao \wedge pagamento.valor < 200}$ (pagamento $\times$ orgao)

In [ ]:
a3 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE A LINHA ABAIXO
runQuery(a3, "a3")

### 4 - $\pi_{id\_viagem,sequencia\_trecho,destino\_viagem} \: \sigma_{sequencia\_trecho=5}$ (viagem $\bowtie$ trecho)

In [ ]:
a4 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE A LINHA ABAIXO
runQuery(a4, "a4")

### 5 - $\pi_{id\_pagamento,valor} \: \sigma_{viagem\_urgente=SIM}$ (pagamento $\bowtie$ viagem)

In [ ]:
a5 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE A LINHA ABAIXO
runQuery(a5, "a5")

## PARTE 2 - Consultas SQL
Abaixo, seguem as consultas que voce terá de executar. Altere **APENAS** o espaço entre as aspas. Dentro desse espaço é que você deverá digitar o comando de execução da consulta.

### 1 - Liste os campos id\_viagem, situacao, nome\_viajante, data\_inicio, data\_fim e destino\_viagem para todas as viagens com data de inicio entre 2022-01-09 e 2022-01-16 (incluso):

**OBS:** Se atentar para o formato da data no banco (ano-mês-dia)

In [ ]:
q1 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE A LINHA ABAIXO
runQuery(q1, "q1")

### 2 - Liste todos os códigos e nomes dos órgãos que tenham a palavra "Nacional" no nome:

In [ ]:
q2 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE A LINHA ABAIXO
runQuery(q2, "q2")

### 3 - Liste os campos nome\_viajante e cargo\_funcao\_viajante dos servidores que tenham nome que termina com "SANTOS"
**Obs:** pesquisar a palavra em caixa alta

In [ ]:
q3 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE A LINHA ABAIXO
runQuery(q3, "q3")

### 4 - Liste os 50 primeiros nomes dos servidores e valores das passagens que tiveram "São Paulo" como o estado de origem da ida da passagem. O resultado deverá ser ordenado primeiramente pelo valor e depois pelo nome, os dois em ordem crescente:

In [ ]:
q4 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE A LINHA ABAIXO
runQuery(q4, "q4")

### 5 - Liste o nome do órgão superior e a quantidade de viagens urgentes realizadas que cada órgão superior pagou. Em orderm crescente de número de viagens:

In [ ]:
q5 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE A LINHA ABAIXO
runQuery(q5, "q5")

### 6 - Liste o campo id\_viagem e o total do campo valor do pagamento de viagens solicitadas pelo órgão de código 52000:

In [ ]:
q6 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE A LINHA ABAIXO
runQuery(q6, "q6")

### 7 - Liste os ids das viagens que tenham mais de 3 passagens (4 ou mais) e o valor da passagem mais barata de cada uma:

In [ ]:
q7 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE A LINHA ABAIXO
runQuery(q7, "q7")

### 8 - Liste todos os ids dos trechos das viagens que não tem "Brasil" como país de origem e que o viajante possui a palavra "MINISTRO" no nome da função/cargo:

In [ ]:
q8 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE A LINHA ABAIXO
runQuery(q8, "q8")

### 9 - Liste, em ordem alfabética, os nomes de todos os órgãos superiores que custearam as despesas das viagens que tiveram gastos com diárias maiores que 0 e menores que 1000.

In [ ]:
q9 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE A LINHA ABAIXO
runQuery(q9, "q9")

### 10 - Liste os ids das viagens urgentes que têm algum trecho em que o transporte não foi "Aéreo" nem "Rodoviário", o nome do viajante e o valor total dos gastos da viagem indicados na tabela pagamento (com o nome "valor\_total\_pago\_viagem"). O resultado deverá considerar apenas as viagens que tiveram gastos com "PASSAGEM" e deverá ser exibido em ordem alfabética em relação ao nome do viajante:

In [ ]:
q10 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE A LINHA ABAIXO
runQuery(q10, "q10")

# Finalizando o Banco de Dados e o Arquivo de Consultas gerado:

In [29]:
#NÃO ALTERE AS LINHAS ABAIXO
queries.close()
con.close()

## Compactando Arquivos
Na célula abaixo, substitua onde está escrito MATRÍCULA pelo seu número de matrícula.

In [ ]:
#ALTERE ONDE ESTÁ ESCRITO MATRICULA para o numero de sua Matrícula
!zip -r "MATRICULA.zip" "TP1_matricula.ipynb" "MATRICULA.csv"

**LEMBRE-SE:** Após finalizar todas as consultas, clique em *Kernel -> Restart and Run All* no ambiente em que estiver usando (Jupyter ou Google Colab)

Caso esteja usando o Google Colab, colocar manualmente o arquivo .ipynb no zip